body {
    background-color: teal;
}

img {
    width: 150px;
    border: 3px dashed olive;
}

.header {
    text-align: center;
    color: orange;
    font-family: 'Ranchers', cursive;
}

button {
    color: olive;
}

button:hover {
    color: orange;
}

p {
    font-family: 'Sora', sans-serif;
}

.counter {
    font-family: 'Sora', sans-serif;
    text-align: right;
}
    
.results {
    margin: 10px;
    padding: 10px;
    border: 3px solid olive;
    display: none;
    text-align:center;
}